        body {
            text-align: center;
            padding: 20px;
        }
        .team-button {
            display: inline-block;
            margin: 10px;
            padding: 15px 30px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
         .back-button {
            display: inline-block;
            margin: 10px;
            padding: 15px 30px;
            background-color: red;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .team-button:hover {
            background-color: #45a049;
        }
 